<div class="row contenido">
    <div class="col-md-6">
        {% media post.image, 'big' %}
    </div>
    <div class="col-md-6">
        <h2>{{ post.title }}</h2>
        {{ post.content | raw }}
    </div>    
</div>